<div>
  <button (click)="previewPdf()">
    Preview PDF
  </button>

  <button (click)="printPdfDefaultPrinter()">
    Print PDF (Default Printer)
  </button>
</div>

<hr />

<div>
  <form [formGroup]="formGroup">
    <select formControlName="printerName">
      <option value="">- Please Select Printer -</option>
      <option *ngFor="let printer of printers" [value]="printer">
        {{ printer }}
      </option>
    </select>

    <button (click)="printPdfSelectPrinter()">
      Print PDF (Select Printer)
    </button>
  </form>
</div>
